.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media ($L) {
    width: 690px;
  }

  @media ($XL) {
    width: 1100px;
  }
}

.main {
  padding-top: 60px;

  @media ($XL) {
    padding-top: 70px;
  }
}

.dummy {
  height: 100vh;
  background-color: #255151;
}