@font-face {
  font-family: "TT Hoves Pro Trial";
  src: url('../fonts/tt_hoves/TT Hoves Pro Trial Light.ttf')  format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


