.cart-content {
  @media ($M) {
    padding-bottom: 90px;
  }
}

.cart-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media ($M) {
    padding: 0;
    width: 690px;
    max-width: unset;
  }
}

.cart-table {
  background-color: #fff;
  @media ($M) {

  }

  @media ($L) {

  }

  @media ($XL) {

  }
}

.cart-table__dummy {
  display: none;

  @media ($M) {
    display: block;
    height: 40px;
    border-right: 1px solid rgba(6, 66, 76, 0.15);
    border-left: 1px solid rgba(6, 66, 76, 0.15);

  }
}

.cart-table-row {
  display: flex;
  flex-wrap: wrap;

  @media ($M) {
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(6, 66, 76, 0.15);
  }
}

.cart-table-row_legend {
  display: none;
  flex-wrap: wrap;

  @media ($M) {
    display: flex;
    border-bottom: 1px solid rgba(6, 66, 76, 0.15);
  }
}

.cart-table-row_legend {
  & .cart-table-col {
    @media ($M) {
      border: 0;
      height: 46px !important;
    }
  }
}

.cart-table-col {
  display: flex;

  font-family: 'TT Hoves Pro Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $pan_dark_green;

  @media ($M) {
    height: 91px;
  }
}

.cart-table-col:nth-child(1) {
  padding: 30px 0 15px;
  width: 100%;

  @media ($M) {
    width: auto;
    flex-grow: 1;
    padding: 0;
    align-items: center;
    padding-left: 15px;
    border-left: 1px solid rgba(6, 66, 76, 0.15);
    border-right: 1px solid rgba(6, 66, 76, 0.15);
  }
}

.cart-table-col:nth-child(2) {
  display: none;

  @media ($M) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 120px;
    border-right: 1px solid rgba(6, 66, 76, 0.15);
  }
}

.cart-table-col:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(6, 66, 76, 0.15);
  border-bottom: 1px solid rgba(6, 66, 76, 0.15);
  height: 50px;
  width: 50%;

  @media ($M) {
    width: 120px;
    height: 91px;
    flex-shrink: 0;
    border: 0;
    border-right: 1px solid rgba(6, 66, 76, 0.15);
  }
}

.cart-table-col:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $pan_dark_green;
  width: 50%;
  height: 50px;

  @media ($M) {
    width: 150px;
    height: 91px;
    flex-shrink: 0;
    border: 0;
    border-right: 1px solid rgba(6, 66, 76, 0.15);
  }
}

.cart-calc-button {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.cart-calc-count {
  width: 40px;
  font-family: 'TT Hoves Pro Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: $pan_dark_green;
  text-align: center;
}

.cart-controls {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $pan_dark_green;
  box-shadow: 0px 0px 50px rgba(37, 81, 81, 0.15);

  @media ($M) {
    flex-wrap: nowrap;
    max-width: 690px;
    margin: 0 auto;
  }
}

.cart-controls-col {
  height: 50px;
}

.cart-controls-col:nth-child(1) {
  width: 100%;
  padding-left: 16px;

  display: flex;
  align-items: center;

  font-family: 'TT Hoves Pro Trial';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: $pan_dark_green;
}

.cart-controls-col:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  font-family: 'TT Hoves Pro Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: $pan_dark_green;

  border-top: 1px solid rgba(6, 66, 76, 0.15);

  @media ($M) {
    border-top: 0;
  }
}

.cart-controls-col:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: $pan_dark_green;

  font-family: 'TT Hoves Pro Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}